@keyframes slide {
    0% {
        background-image: url('../gfx/img1.jpg');
    }
    33% {
        background-image: url('../gfx/img2.jpg');
    }
    67% {
        background-image: url('../gfx/img3.jpg');
    }
}